*~
build/
src-gen/
test/org/apache/pig/test/utils/dotGraph/parser/
target/
ivy/*.jar
pig.jar
pig-withouthadoop.jar
*.iml
*.ipr
*.iws
*.patch
*.log
*.orig
*.rej
*.class
*.swp
*.classpath
*.project
*.crc
.ant-targets-build.xml
contrib/piggybank/java/piggybank.jar
conf/log4j.properties
lib/jdiff/pig_*SNAPSHOT.xml
